@import "base";

.video-banner-wrapper{
    position: relative;
    
    &:after{
        content: '';
        position: absolute;
        background-color: #2c2c2cc2;
        height: 100%;
        width: 100%;
        top: 0;
    }
    
    .background-video {
        width: 100%;
        height: 100vh;
        z-index: 1;
        object-fit: cover;
    }
    
    .video-banner{
        position: relative;
        
        .video-top-banner{
            position: absolute;
            width: 65%;
            left: 50%;
            top: 50%;
            height: 70vh;
            transform: translate(-50%, -50%);
            z-index: 1;
            
            @media (max-width: 767px) { 
                width: 85%;
            }
            
        }
        
        .top-background-video{
            width: 100%;
            height: 100%;
            margin: auto;
            object-fit: cover;
        }
        
    }
    
}

.discover-our-world-section{
    padding: 50px 0 60px;
    
    @media (max-width: 767px) {
        padding: 40px 0px 60px;
    }
    
    h3{
        font-family: NotoSerif_Regular;
        font-size: 22px;
        line-height: 36px;
        color: #a67c52;
        margin: 0 0 30px;
        letter-spacing: 1.5px;
    }
    
    p{
        font-family: Raleway_Light;
        font-size: 16px;
        line-height: 30px;
        color: #666666;
        margin: 0 0 20px;
        letter-spacing: 1.5px;
    }
    
    .btn-section{
        margin: 40px 0 0;
        
        .btn-default-white{
            padding: 10px 80px;
        }
    }
    
}

.explore-our-exquisite-section{
    position: relative;
    
    .explore-content-section{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 60px;
        text-align: center;
        
        .title-head{
            color: #ffffff;
            margin: 0 0 40px;
            
            @media (max-width: 767px) {
                
            }
            
        }
        
        select{
            font-family: Raleway_Medium;
            font-size: 12px;
            color: #383838;
            padding: 10px 30px;
            border: 1px solid #383838;
            
            &:focus{
                outline: none;
            }
        }
        
        .btn-section{
            display: inline-flex;
            border: 1px solid #383838;
            
            a{
                font-size: 12px;
                font-family: Raleway_Medium;
                background-color: #ffffffc9;
                padding: 15px 60px;
                text-decoration: none;
                color: #383838;
                border-right: 1px solid #383838;
                
                &:last-child{
                    border-right: none;
                }
            }
        }
    }
}

.gift-section{
    position: relative;
    text-align: center;
    
    .gift-desc{
        position: absolute;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        
        @media (max-width: 767px) {
            align-items: baseline;
        }
        
        .heading-line-text{
            margin: 20px auto;
        }
        
        .title-head{
            color: #ffffff;
            font-size: 35px;
            width: 100%;
            letter-spacing: 1.5px;
            
            @media (max-width: 767px) {
                margin-top: 40px;
            }
            
        }
        
        .btn-center-align{
            @media (max-width: 767px) {
                position: absolute;
                bottom: 50px;
            }
        }
    }
    
}

.homepage-icon-section{
    margin: 60px 0 0;
    padding: 60px 0;
    background-color: #f9f9f9;
    
    @media (max-width: 767px) {
        padding: 40px 0;
    } 
    
    .homepage-icon-section-inside{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        text-align: center;
        
        .icon-inside{
            width: 100px;
            
            @media (max-width: 767px) {
                margin: 20px 0;
            }
            
            img{
                margin: auto;
            }
            
            h4{
                font-family: Raleway_Bold;
                font-size: 12px;
                color: #383838;
                text-transform: uppercase;
                margin: 10px 0 0;
                letter-spacing: 1.5px;
            }
            
            p{
                font-family: Raleway_Light;
                font-size: 12px;
                color: #383838;
                margin: 5px 0 0;
                letter-spacing: 1.5px;
            }
        }
    }
}

.homepage-product-section{
    padding: 60px 0;
    text-align: center;
    
    h3{
        font-family: Raleway_Light;
        font-size: 18px;
        color: #383838;
        line-height: 25px;
        margin: 0 0 10px;
        text-align: center;
        letter-spacing: 1.5px;
    }
    
    h2{
        font-family: PlayfairDisplay_medium;
        font-size: 24px;
        color: #4d4d4d;
        line-height: 30px;
        margin: 0 0 10px;
        letter-spacing: 1.5px;
    }
    
    hr{
        width: 40px;
        margin: 20px auto;
    }
    
    .homepage-product-slider{
        margin: 40px 0 80px;
        
        .slick-slide{
            padding: 0 15px;
        }
        
        .right-arrow{
            position: absolute;
            right: -2%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
            color: #393836;
        }
        
        .left-arrow{
            position: absolute;
            left: -2%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
            color: #393836;
        }
    }
}

.homepage-testimonial-wrapper{
    background-color: #e5d7ca;
    padding: 50px 30px 60px;
    text-align: center;
    
    @media (max-width: 767px) {
        padding: 50px 20px 60px;
    }
    
    h3{
        font-family: PlayfairDisplay_medium;
        font-size: 24px;
        color: #383838;
        letter-spacing: 1.5px;
    }
    
    hr{
        width: 40px;
        margin: 20px auto;
    }
    
    .testimonial-slider{
        padding: 10px 0 30px;
        
        h4{
            font-family: Raleway_Regular;
            font-size: 14px;
            color: #666666;
            line-height: 25px;
            margin: 10px;
            letter-spacing: 1.5px;
            width: 50%;
            margin: auto;
            
            @media (max-width: 991px) {
                width: 100%;
            }
            
        }
        
        
        h5{
            font-family: PlayfairDisplay_Regular;
            font-style: italic;
            font-size: 14px;
            color: #666666;
            margin: 10px 0;
            letter-spacing: 1.5px;
        }
        
        h6{
            font-family: Raleway_Regular;
            font-size: 14px;
            color: #666666;
            margin: 10px 0;
            letter-spacing: 1.5px;
        }
        
        .name-info{
            margin: 40px 0 0;
        }
        
        .right-arrow{
            position: absolute;
            right: -10%;
            top: 18%;
            transform: translateY(-50%);
            font-size: 25px;
            color: #feffff;
        }
        
        .left-arrow{
            position: absolute;
            left: -10%;
            top: 18%;
            transform: translateY(-50%);
            font-size: 25px;
            color: #feffff;
        }
    }
}

.homepaghe-instagram-wrapper{
    padding: 60px 0;
    text-align: center;
    
    h3{
        font-family: Raleway_Light;
        font-size: 18px;
        color: #383838;
        margin: 10px 0;
        letter-spacing: 1.5px;
    }
        
    h2{
        font-family: PlayfairDisplay_medium;
        font-size: 24px;
        color: #383838;
        margin: 10px 0;
        letter-spacing: 1.5px;
    }
    
    .heading-line-text{
        width: 40px;
        margin: 20px auto;
    }
    
    .homepage-instagram-slider{
        margin: 40px 0 0;
        position: relative;
        
        .slick-slide{
            padding: 0 15px;
            width: 350px;
            
            @media (max-width: 767px) {
                padding: 0 30px;
            }
            
        }
        
        .right-arrow{
            position: absolute;
            right: -3%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
            color: #393836;
            
            @media (max-width: 767px) {
                right: -2%;
            }
            
        }
        
        .left-arrow{
            position: absolute;
            left: -2%;
            top: 50%;
            transform: translateY(-50%);
            font-size: 25px;
            color: #393836;
        }
    }
}

.homepage-gallery-wrapper{
    background-color: #e5d7ca;
    
    @media (min-width: 768px) {
        padding: 60px 0 0;
    }
    
    .gallery-details{
        padding: 0 0 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        
        @media (max-width: 767px) {
            padding: 40px 0 30px;
            flex-wrap: wrap;
        }
        
        p{
            font-family: Raleway_Medium;
            font-size: 14px;
            color: #383838;
            letter-spacing: 1.5px;
            margin: 0;
        }
        
        a{
            margin-right: 20px;
            color: #383838;
            text-decoration: none;
            letter-spacing: 1.5px;
            
            @media (max-width: 767px) {
                margin-right: 0;
                margin-bottom: 20px;
            }
            
        }
    }
}